html,.App {
  text-align: center;
  width:100%;
  min-height:100%;
  background-image: linear-gradient(to right,#83a4d4,#b6fbff);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}